<div class="logo">
    <svg width="485" height="450" viewBox="0 0 485 450" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="225" cy="225" r="225" fill="#E3B23C"/>
        <path d="M104 316.5C116.8 338.9 113.333 366.5 110 377.5C168.8 355.5 234.167 350.667 259.5 351C276.5 358.667 313.6 347.7 326 242.5C341.5 111 14 98.5 29 186.5C44 274.5 88 288.5 104 316.5Z" fill="white"/>
        <path d="M345 72.5C286.315 82.0928 241 119.5 226 139.5C220.667 211.167 218.9 353.9 254.5 351.5C290.1 349.1 326 362.5 339.5 369.5C345 350 343 313.5 341 306C369.5 303 423 267 452.5 229.5C476.1 199.5 483 158.667 483.5 142C474.3 82 459.5 86.5 446.5 77.5C422 65 397 64 345 72.5Z" fill="white"/>
        <path d="M147.169 131.5C111.835 130.833 52.7687 146.1 95.1687 210.5" stroke="black" stroke-width="5" stroke-linecap="round"/>
        <path d="M132.669 142.5C110.169 142.5 75.6687 157.5 100.669 199" stroke="black" stroke-width="3" stroke-linecap="round"/>
        <path d="M102.669 316C40.6687 252.833 -39.8313 127.4 134.169 131C351.669 135.5 325.669 237 325.169 243.5" stroke="black" stroke-width="5" stroke-linecap="round"/>
        <path d="M225.669 139.991C264.169 73.9909 464.569 20.4909 480.169 124.491C495.769 228.491 392.002 294.324 340.669 306.491" stroke="black" stroke-width="5" stroke-linecap="round"/>
        <path d="M102.669 315.947C147.502 296.947 257.569 270.1 341.169 306.5" stroke="black" stroke-width="5" stroke-linecap="round"/>
        <path d="M109.169 380C154.002 361 255.569 332.639 339.169 369.039" stroke="black" stroke-width="5" stroke-linecap="round"/>
        <path d="M137.169 295C164.814 286.102 254.041 270.137 307.669 286.924" stroke="black" stroke-width="2" stroke-linecap="round"/>
        <path d="M164.876 282.624C180.75 278.59 211.548 272.055 267.168 274.693" stroke="black" stroke-width="2" stroke-linecap="round"/>
        <path d="M102.669 316C107.835 324 116.369 348 109.169 380" stroke="black" stroke-width="5" stroke-linecap="round"/>
        <path d="M340.669 306.5C345.835 314.5 346.869 337 339.669 369" stroke="black" stroke-width="5" stroke-linecap="round"/>
        <path d="M367.5 80.5C399.167 76.8333 463.7 82.5 468.5 134.5" stroke="black" stroke-width="3" stroke-linecap="round"/>
        </svg>
        
</div>
<div class="flex-center-form">
    <div class="btn-group-auth">
        <button class="btn btn--form">{{ 'loginPage.login' | translate }}</button>
        <button class="btn btn--form">{{ 'loginPage.register' | translate }}</button>
    </div>
    <div class="log-reg-form">
        <h1>{{ 'loginPage.login' | translate }}</h1>
        <form *ngIf="!(authService.user | async)">
            
            
            <label for="email">{{ 'loginPage.email' | translate }}</label>
            <input name="email" type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" #emailInput="ngModel" email required valid>
            
            
            <label for="password">{{ 'loginPage.password' | translate }}</label>
            <input name="password" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" #passwordInput="ngModel" required minlength="8" maxlength="16">
    
    
            <button class="btn btn--grey btn--form" (click)="login()" [disabled]="!email || !password">
                {{ 'loginPage.logIn' | translate }}
            </button>
        </form>
    
        <button (click)="logout()" *ngIf="authService.user | async">
            {{ 'loginPage.logout' | translate }}
        </button>
    
    
        <div class="btn-lang-form">
            <button (click)="useLanguage('pl')">PL</button>
            <span> / </span>
            <button (click)="useLanguage('en')">EN</button>
        </div>
    </div>
</div>