<div class="btn-group-auth">
    <button class="btn btn--form">{{ 'loginPage.login' | translate }}</button>
    <button class="btn btn--form">{{ 'loginPage.register' | translate }}</button>
</div>
<form *ngIf="!(authService.user | async)">
    <label for="email">{{ 'loginPage.email' | translate }}</label>
  <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
  <label for="password">{{ 'loginPage.password' | translate }}</label>
  <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">


  <button (click)="signup()" [disabled]="!email || !password">
    {{ 'loginPage.signin' | translate }}
  </button>
</form>


<div>
    <button (click)="useLanguage('pl')">PL</button>
    <span> / </span>
    <button (click)="useLanguage('en')">EN</button>
</div>
