@import './../../assets/sass/_variables.sass'
    
#menu
    width: 100%
    height: 100px
    overflow: hidden
    background: $grey-color
    display: flex
    flex-direction: row
    align-items: center
    .logo
        width: 10%
        height: 100px
    .nav-list
        width: 90%
