<nav id="menu" *ngIf="authService.user | async">
    <div class="logo">
        <img src="assets/img/logo-small.png" alt="Coock Book Logo">
    </div>
    <div class="nav-list">
        <button mat-button class="nav-btn" [matMenuTriggerFor]="menu">Nick ↓</button>
        <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
            <button mat-menu-item>{{ 'loginPage.logIn' | translate }}</button>
            <button mat-menu-item>{{ 'loginPage.logIn' | translate }}</button>
            <button mat-menu-item>{{ 'loginPage.logIn' | translate }}</button>
            <button mat-menu-item>{{ 'loginPage.logIn' | translate }}</button>
            <button mat-menu-item>{{ 'loginPage.logIn' | translate }}</button>
            <button mat-menu-item>{{ 'loginPage.logIn' | translate }}</button>
        </mat-menu>
        <button mat-button class="nav-btn" (click)="useLanguage('pl')">PL</button>
        <button mat-button class="nav-btn" (click)="useLanguage('en')">EN</button>
    </div>
</nav>
